@tailwind base;

@tailwind components;

@tailwind utilities;

html,body, #root {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

@media (max-width:768px) {
  body {
    overflow-y: auto !important;
    position: relative;
  }
  
  #root {
    min-height: 100vh;
    overflow-y: auto;
  }
}

:root {
  --header-height: 80px;
}

/* Active navigation style */
.active {
  @apply text-primary font-semibold no-underline bg-primary/10;
}